---
language: ruby
script: "bundle exec rake validate && bundle exec rake lint && bundle exec rake spec SPEC_OPTS='--format documentation'"
bundler_args: --without development
matrix:
  fast_finish: true
  include:
    - rvm: 2.0.0
      env: PUPPET_VERSION=3.5
    - rvm: 2.2.3
      env: PUPPET_VERSION=4.0
    - rvm: 2.3.0
      env: PUPPET_VERSION=4.4
sudo: false
